html {
	height: 100%;
}

body {
		margin: 0;
		padding: 0;
		font-family: sans-serif;
		height: 100%;
	}
#root, #root>div{
	height: 100%;
}
	#NYTsearch-demo {
		padding-left: 0px;
	}
	#NYTjumbotron {
		height: 200px;
		background-color: white;
		background-image: none;
	}

	.navbar {
		background-color: #39444a;
		display: inline-block;
		width: 100%;
		color: white;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		height: 70px;
		margin-bottom: 0;
		align-content: center;
		text-align: center;

	}

	.navbar li {
		display: inline-block;
		padding-left: 20px;
		padding-top: 20px;
	}

	.navbar h3 {
		padding-right: 30px;
	}

	#main-footer {
		bottom: 0;
		width: 100%;
		height: 120px;
		background-color: #39444a;
		align-content: center;
		text-align: center;
		left: 0; 
	}

	#main-footer li {
		display: inline-block;
	}
	#main-footer ul {
		padding-left: 0;
		margin-bottom: 0;
	}
	#main-footer p {
		color: white;
	}

	#main-footer img {
		height: 59px;
		width: auto;
		margin: 10px;
	}

	#link-directory-div {
		width: 200px;
		background-color: #618192;
		position: absolute;
		
	}

	.jumbotron {
		align-content: center;
		font-weight: 800;
		height: 350px;
		background-image: url("./images/soccer.jpg");
		background-position: center;
		background-size: cover;
		background-color: rgba(0, 0, 0, 0.2);
		vertical-align: middle;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.jumbotron .container {
		width: 60%;
	}

	#home-nav {
		position: absolute;
		bottom: 0;
		width: 60%;
		margin-left: 20%;
		margin-right: 20%;
		text-align: center;
	}

	#jumbotron-footer {
		align-content: center;
		text-align: center;
		font-weight: bold;
		position: absolute;
		top: 300px;
		width: 100%;
		height: 100px;
	}


	#technologies {
		align-content: center;
		text-align: center;
		box-sizing: border-box;
	}

	#technologies img {
		height: 60px;
		width: auto;
		margin: 10px;
	}

	#professional-experience {
		align-content: center;
		text-align: center;

	}

	#about-div {
		width: 100%;
		text-align: center;
	}

	.about-me {
		width: 100%;
	}

	#img-div img {
		height: 250px;
		width: auto;
	}
	#exercise img, #overwatch img, #csgo img, #programming img {
		height: 40px;
		width: auto;
	}

	#hobbies {
		display: inline-block;
		vertical-align: top;
	}
	#hobbies h4 {
		font-weight: bold;
	}
	.about-me {
		display: inline-block;
	}

	#projects-nav {
		background-color: #68696b;
		height: auto;
	}

	#projects-nav button {
		margin: 5px;

	}

	#project-summary h1 {
		text-align: center;
	}

	#project-summary {
		background-color: #e4eee5;
	}

	#lsit {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	#project-picture {
		align-content: center;
		text-align: center;
	}

	#project-picture ul {
		padding: 0;
	}

	#tech-used, #what-I-learned {
		margin-top: 25px;
	}

	#myImg:hover{
	    color: #424242; 
	  -webkit-transition: all .3s ease-in;
	  -moz-transition: all .3s ease-in;
	  -ms-transition: all .3s ease-in;
	  -o-transition: all .3s ease-in;
	  transition: all .3s ease-in;
	  opacity: 1;
	  transform: scale(2);
	  -ms-transform: scale(.5); /* IE 9 */
	  -webkit-transform: scale(2); /* Safari and Chrome */

	}

	#intangibles {
		text-align: center;
		width: 100%;
		margin: 0;
		display: inline-block;
	}

	.experience img {
		width: 40px;
		height: auto;
	}

	#buttonContainer {
		margin: 10px;
		padding-left: 10px;
	}

	#container2 {
		margin-left: 0px;
		padding-left: 0px;
	}

	.img {
		float: left; 
	}

#giphy-demo button {
	margin-bottom: 10px;
	margin-right: 10px;
}

#add-button-div button {
	margin: 0;
	height: 40px;
}

#add-button-div input {
	margin-right: 10px;
}

.gif-holder {
	margin-right: 20px;
	margin-bottom: 20px;
}

#tutorials-upper, #tutorials-sub {
	align-content: center;
	text-align: center;
	width: 100%;
}

#MongoDB-link {
	background-color: #96b38f;
	color: black;
}

#main-div {
	position: relative;
	height: 100%;
	box-sizing: border-box;
}

#ECMAscript-link{
	background-color: #c5d5cb;
	color: black;
}

#Postgres-link {
	background-color: #9fa8a3;
	color: black;
}

#React-link {
	background-color: #e3e0cf;
	color: black;
}

.link-description {
	padding: 5px;
	text-align: left;
}
.container h1 {
	height: auto;
}
.tutorial-main {
	margin: 0;
}
.tutorial-main a {
	color: #009b72;
	font-weight: 600;
}
#jumbo-btn {
	background-color: #39444a;
	border-radius: 5px;
	border-width: 0;
	padding: 10px;
}
#jumbotron-footer ul {
	margin-top: 20px;
}
#React-Tutorial-Main {
	width: 100%;
}
.tutorial-links, .tutorial-component {
	margin-top: 20px;
}
.tutorial-component {
	color: black;
}
.tutorial-section-div {
	background-color: #ebebeb;
	border-radius: 5px;
}
.code {
	background-color: #bcc295;
	border-radius: 3px;
	width: 70%;
	margin-left: 20px;
	margin-bottom: 10px;

}
.tutorial-section-div p {
	margin-left: 10px;
}

.tutorial-section-div img {
	margin-left: 20px;
}
.component-holder {
	height: 100%;
}

/*
-------------------------------------------------------------
-------------------------------------------------------------
-------------------------------------------------------------
*/


@media (min-width: 1000px) {
	.img-div {
		width: 10%;
		display: inline-block;
	}

	#exercise, #overwatch, #csgo, #programming {
		width: 20%;
		display: inline-block;
		vertical-align: top;
		margin: 10px;
	}

	.experience {
		width: 25%;
		display: inline-block;
		vertical-align: top;
	}
	.gif-holder {
		display: inline-block;
	}

	#MongoDB-link {
		height: 100px;
		width: 64%;
	}
	.tutorial-link {
		width: 20%;
		height: 400px;
		border-radius: 15px;
		display: inline-block;
		margin: 1%;
		vertical-align: top;
	}
	#jumbotron-footer li {
		display: inline-block;
	}
	#jumbotron-footer {
		margin-top: 30px;
	}
	#jumbo-btn {
		margin-right: 10px;
	}
	#React-Tutorial-Main {
		display: inline-block;
	}
	.tutorial-main {
		height: 100%;
	}
	.tutorial-links {
		width: 20%;
		height: 100%;
		float: left;
	}
	.tutorial-component {
		width: 80%;
		float: left;
		border-left: 2px dashed #778512;
		padding-left: 10px;
	}
	.tutorial-section-div {
		width: 90%;
	}
	.tutorial-section-div p {
		width: auto;
	}
}

#outer-div {
	height: 100%;
}

/*
-------------------------------------------------------------
-------------------------------------------------------------
-------------------------------------------------------------
*/
@media (max-width: 999px) and (min-width: 530px) {
	.img-div {
		width: 10%; 
		display: inline;
	}
	#exercise, #overwatch, #csgo, #programming {
		width: 20%;
		display: inline;
		vertical-align: top;
		margin: 10px;
	}
	.experience {
		width: 25%;
		display: inline;
		vertical-align: top;
	}
	.gif-holder {
		display: inline;
		margin-bottom: 20px;
	}
	
	#jumbotron-footer {
		height: 100px;
		margin-top: 30px;
	}

	#jumbotron-footer li {
		display: inline;
		margin-top: 30px;
	}
	
	.tutorial-link {
		height: auto;
		border-radius: 15px;
		margin-right: 12%;
		margin-left: 12%; 
	}
	.tutorial-links p {
		display: inline;
		margin-right: 10px;
		margin-bottom: 5px;
	}
	#jumbo-btn {
		margin-right: 10px;
	}
	.tutorial-section-div {
		width: 100%;
	}
	
}
/*
-------------------------------------------------------------
-------------------------------------------------------------
-------------------------------------------------------------
*/
@media (max-width: 529px) {
	.jumbotron {
		height: 550px;

	}
	#jumbo-btn {
		margin-bottom: 10px;
		width: 170px;
	}
	.jumbotron li {
		display: block;
	}
	#jumbotron-footer {
		margin-top: 60px;
	}
	.tutorial-links p {
		display: inline;
		margin-right: 20px;
	}
	.tutorial-section-div {
		width: 100%;
	}
}